.lights {
  padding: 5px;
}

.light__button__group {
  width: 100px;
  height: 150px;
  display: inline-block;
  text-align: center;
  .name {
    font-size: 14px;
    width: 100%;
  }
}

.light__button {
  @extend .animate;
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 20px;
  outline: none;
  .label {
    font-size: 14px;
  }

  .blurred {
    position: absolute;
    top: 0;
    width: 0;
  }
}

.timer {
  font-size: 14px;
}

.light__head {
  margin: 0;
}

.light__box {
  background: rgba(white, .25);
  border: 1px solid white;
  width: 100%;
}
