.lights {
  padding: 5px;
}

.light__button {
  @extend .animate;
  background-color: transparent;
  border: 0;
  width: 100px;
  height: 100px;
  margin: 5px;
  font-size: 40px;
  text-align: center;
  color: white;
  line-height: 20px;
  outline: none;
  .label {
    font-size: 20px;
  }

  .blurred {
    position: absolute;
    top: 0;
    width: 0;
  }
}

.light__head {
  margin: 0;
}

.light__box {
  background: rgba(white, .25);
  border: 1px solid white;
  width: 100%;
}
