$grey: #343838;
$darker-blue: #005F6B;
$dark-blue: #008C9E;
$main-blue: #00B4CC;
$light-blue: #00DFFC;

.thin {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 600;
}

.strong {
  font-weight: 700;
}
