<div class="griddly" id="grid">
  <div class="bgImg"></div>
  <div class="page__slide" ng-style="{width: grid.columns*grid.pxWidth + 'px', height: grid.rows*grid.pxWidth + 'px'}">
    <div class="container" ng-repeat="container in grid.containers" ng-style="{top: container.posY + 'px', left: container.posX + 'px', width: container.htmlWidth + 'px', height: container.htmlHeight + 'px'}">
      <div class="blurred" ng-if="container.blur"></div>
      <div class="card shadow--1"  ng-class="{'default': container.default}">
        <ng-include src="container.view" class="center--align block">
      </div>
    </div>
  </div>
</div>
