.griddly {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $darker-blue;

  .container {
    position: absolute;
  }

  .card {
    background-color: $dark-blue;
    position: absolute;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    top: 8px;
    left: 8px;
    color: rgba(white, 75%);
  }
}

.shadow--1 {
  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.12),
    0 1px  6px 0 rgba(0, 0, 0, 0.12);
}

.center--align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
