.griddly {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $darker-blue;

  .page__slide {
    @extend .animate;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .card {
    color: rgba(white, 75%);
    &.default {
      background-color: $dark-blue;
      position: absolute;
      width: calc(100% - 16px);
      height: calc(100% - 16px);
      top: 8px;
      left: 8px;
    }


  }
}

.shadow--1 {
  box-shadow:
  0 1px 6px 0 rgba(0, 0, 0, 0.12),
  0 1px  6px 0 rgba(0, 0, 0, 0.12);
}



.bgImg {
  display: block;
  width: 100vw;
  height: 100vh;
}

.blurred {
  height: 100%;
  width: 100%;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: url(#blur);
  overflow: hidden;
  background-size: 144vw 100vh;
  span,
  div {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
}


.grid__display {
  position: fixed;
  bottom: 0px;
  left: 4px;
  min-width: 80px;
  min-height: 50px;
  z-index: 200;
  background: transparent;

  button {
    @extend .animate;
    width: 38px;
    height: 32px;
    border: 0;
    margin: 0;
    height: 20px;
    background: rgba(white, .2);
    border-radius: 3px;
    margin: 2px;
    position: relative;
    cursor: pointer;
 }


  .indicator {
    @extend .animate;
    width: 33px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0px;
    margin: 5px;
    z-index: 100;
    border-radius: 3px;
    background: rgba(white, .5);
  }

  &:hover {
    button {
      background: rgba(white, .6);
    }

    .indicator {
      background: rgba(white, .9);
    }
  }

}
