<div class="traffic">

  <div class="clearfix">

    <div class="current__state">
      <form ng-submit="searchForStation()">
        <input type="text" ng-model="currentStation.Name" class="traffic__input">
      </form>
    </div>
    <button class="left__state" ng-click="clearStation()">
      <i class="material-icons">clear</i>
    </button>
    <button class="left__state" ng-click="checkTimetable(currentStation)">
      <i class="material-icons">refresh</i>
    </button>
  </div>
  <div ng-if="currentStation">
    <div class="metro__direction">
      <div ng-repeat="line in currentStation.info.Metros" class="metro__line" ng-if="line.JourneyDirection === 1">
        <i class="material-icons">directions_subway</i> <span>{{line.Destination}} - {{line.DisplayTime}}</span>
      </div>
    </div>
    <div class="metro__direction">
      <div ng-repeat="line in currentStation.info.Metros track by $index" class="metro__line" ng-if="line.JourneyDirection === 2">
        <i class="material-icons">directions_subway</i> <span>{{line.Destination}} - {{line.DisplayTime}}</span>
      </div>
    </div>
  </div>
</div>
</div>
